<div class="content">
  <div *ngFor="let post of postsModel.posts">
      <h1>{{post.title}}</h1>
      <p>{{post.body}}</p>
      <div class="post_info">June 25, 2006 | Posted by <a href="#">{{post.userId}}</a> | <a href="#">5 comments</a></div>
  </div>

</div>