<div class="menu">
  <span class="search">
    <input type="text" name="search" />
    <input type="submit" class="button" value="Search" />
  </span>
  <header-menu-link
    *ngFor="let link of menuModel.menuLinks;let i = index;" 
    (click)="menuModel.goToPath(link.path,i)"
    [menu-link-object]="link">
    
  </header-menu-link>
</div>