<div>
    <div class="container">
        <app-header></app-header>
        <app-sidebar></app-sidebar>
        <router-outlet></router-outlet>
    </div>
    <br>
    <app-footer></app-footer>
</div>